<header class="header">
<div class="headerInner">
<h1 class="siteLogo"><a href="//fukuda.com/"><img src="//fukuda.com/wp-content/themes/fukudafw/assets/images/common/logo-fukuda.svg" alt="FUKUDA"></a></h1><nav class="gNavWrapper">
  <div class="gNav">
    <ul>
      <li class="parentNav ">
        <a href="//fukuda.com/products/"><span>PRODUCTS</span></a>
        <div class="childNavContainer">
        <div class="childNavContainer-inner">
          <p class="childNav-title">PRODUCTS</p>
          <ul class="childNav-list clearfix fixHeight">
            <li class="childNav-list-item">
            <a href="//fukuda.com/products/">
            <span>All Products</span>
            <figure><img src="//fukuda.com/wp-content/themes/fukudafw/assets/images/products/all-product.png" alt=""></figure>
            </a>
            </li>
            <li class="childNav-list-item ">
              <a href="//fukuda.com/products_category/new-product/">
              <span>New Product</span>
              <figure><img src="//fukuda-fw.s3.amazonaws.com/wp-content/uploads/2017/02/09151738/ph-new-main.png" alt=""></figure>
              </a></li><li class="childNav-list-item ">
              <a href="//fukuda.com/products_category/cardiology/">
              <span>Cardiology</span>
              <figure><img src="//fukuda-fw.s3.amazonaws.com/wp-content/uploads/2017/02/09151736/ph-cardiology-main.png" alt=""></figure>
              </a></li><li class="childNav-list-item ">
              <a href="//fukuda.com/products_category/patient-monitoring/">
              <span>Patient Monitoring</span>
              <figure><img src="//fukuda-fw.s3.amazonaws.com/wp-content/uploads/2017/02/09151739/ph-patient-main.png" alt=""></figure>
              </a></li><li class="childNav-list-item ">
              <a href="//fukuda.com/products_category/vascular-screening/">
              <span>Vascular Screening</span>
              <figure><img src="//fukuda-fw.s3.amazonaws.com/wp-content/uploads/2017/02/09151740/ph-vascular-main.png" alt=""></figure>
              </a></li><li class="childNav-list-item ">
              <a href="//fukuda.com/products_category/ultrasound/">
              <span>Ultrasound</span>
              <figure><img src="//fukuda-fw.s3.amazonaws.com/wp-content/uploads/2017/02/09151740/ph-ultrasound-main.png" alt=""></figure>
              </a></li>          </ul>
        </div>
        </div>
        <!-- /.childNavContainer -->
      </li>
      <li class="parentNav">
        <span>COMPANY</span>
        <div class="childNavContainer">
        <div class="childNavContainer-inner clmn-3-block clearfix">
          <div class="block">
          <!-- <ul class="childNav-list-pages childNav-list-other">
            <li class="childNav-list-pages-item"><a href="">NEWS</a></li>
            <li class="childNav-list-pages-item"><a href="">COMPANY EVENTS</a></li>
            <li class="childNav-list-pages-item"><a href="">CONTACT US</a></li>
            <li class="childNav-list-pages-item"><a href="">GLOBAL OFFICES</a></li>
          </ul> -->
          <div class="menu-other-links-header-container"><ul id="menu-other-links-header" class="menu"><li id="menu-item-11752" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11752"><a href="//fukuda.com/news/">NEWS</a></li>
<li id="menu-item-11762" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11762"><a href="//fukuda.com/events/">EVENTS</a></li>
<li id="menu-item-11782" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11782"><a href="//fukuda.com/global-offices/">GLOBAL OFFICES</a></li>
<li id="menu-item-11772" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11772"><a href="//fukuda.com/contact/">CONTACT US</a></li>
</ul></div>          </div>
          <div class="block">
            <!--
            <p class="childNav-title">ABOUT US</p>
            <ul class="childNav-list-pages">
              <li class="childNav-list-pages-item"><a href="">Vision / Mission</a></li>
              <li class="childNav-list-pages-item"><a href="">ECG Story</a></li>
              <li class="childNav-list-pages-item"><a href="">Company History</a></li>
              <li class="childNav-list-pages-item"><a href="">Quality Management</a></li>
              <li class="childNav-list-pages-item"><a href="">Production Systems</a></li>
              <li class="childNav-list-pages-item"><a href="">R&D</a></li>
            </ul>
            -->
            <p class="widget-title">ABOUT US</p><div class="menu-about-us-header-container"><ul id="menu-about-us-header" class="menu"><li id="menu-item-11792" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11792"><a href="//fukuda.com/about/vision-and-mission/">Vision and Mission</a></li>
<li id="menu-item-11802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11802"><a href="//fukuda.com/about/ecg-story/">ECG Story</a></li>
<li id="menu-item-11812" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11812"><a href="//fukuda.com/about/our-history/">Our History</a></li>
<li id="menu-item-11832" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11832"><a href="//fukuda.com/about/quality-management/">Quality Management</a></li>
<li id="menu-item-11822" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11822"><a href="//fukuda.com/about/production-systems/">Production Systems</a></li>
<li id="menu-item-11842" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11842"><a href="//fukuda.com/about/research-development/">R&#038;D</a></li>
</ul></div>          </div>
          <div class="block">
            <!--
            <p class="childNav-title">INVESTOR RELATION</p>
            <ul class="childNav-list-pages">
              <li class="childNav-list-pages-item"><a href="">Analysis</a></li>
              <li class="childNav-list-pages-item"><a href="">Financial Highlights</a></li>
              <li class="childNav-list-pages-item"><a href="">Financial Reports</a></li>
              <li class="childNav-list-pages-item"><a href="">Calendar</a></li>
              <li class="childNav-list-pages-item"><a href="">CEO Message</a></li>
            </ul>
            -->
            <p class="widget-title">INVESTOR RELATIONS</p><div class="menu-investor-relations-header-container"><ul id="menu-investor-relations-header" class="menu"><li id="menu-item-11882" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11882"><a href="//fukuda.com/ir/ceo-message/">CEO Message</a></li>
<li id="menu-item-11852" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11852"><a href="//fukuda.com/ir/analysis-of-operation-results/">Performance Analysis</a></li>
<li id="menu-item-11872" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11872"><a href="//fukuda.com/ir/financial-highlights/">Financial Highlights</a></li>
<li id="menu-item-11862" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11862"><a href="//fukuda.com/ir/financial-reports/">Financial Reports</a></li>
<li id="menu-item-15942" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15942"><a href="//fukuda.com/ir/ir-calendar/">IR Calendar</a></li>
</ul></div>          </div>
        </div>
        </div>
        <!-- /.childNavContainer -->
      </li>
    </ul>
    <div class="highlight"><span></span></div>
  </div>
  <!-- /.gNav -->

  <div class="subNav clearfix">
  <ul>
    <li class="dist"><% if session[:nameid] %>
      Logged in as <%= session[:nameid] %>
        <a class="btn-blue-large" href="<%= url_for(:dp_root) %>">DISTRIBUTORS MENU<!-- <span><img src="/assets/images/common/thumb-user.jpg" alt=""></span> --></a>
      <% else %>
        <%= link_to 'LOGIN', :sso_sso_index %>
      <% end %>
    </li>
    <li class="searchBar">
    <%= form_tag( url_for(:dp_search_news), method: :post ) %>
        <%= search_field_tag :search, nil, {class: 'inputArea'} %>
        <input type="submit" value="search" class="searchBtn">
        <span class="searchToggle"></span>
      </form>
    </li>
  </ul>
<!--
  <ul class="changeLang">
    <li><a href="/en/"><span>EN</span></a></li><li><a href="/"><span>JP</span></a></li>
  </ul>
-->
  </div>
  <!-- /.subNav -->
</nav>
<!-- /.gNavWrapper -->

<div class="spSearchBarArea">
  <div class="spSearchBar searchBar">
    <%= form_tag( url_for(:dp_search_news), method: :post ) %>
            <%= search_field_tag :search, nil, {class: 'inputArea'} %>
            <input type="submit" value="search" class="searchBtn">
            <span class="searchToggle"></span>
          </form>
  </div>
</div>
<!-- /.spSearchBarArea -->

</div>
<!-- /.headerInner -->
</header>
<!-- /.header -->